<!-- navbar rpg para sustenta mais -->

<header class="container-fluid py-0 px-0">
    <div class=" menu container-fluid py-3 px-5 mb-1">

        <nav class="navbar navbar-expand-lg text-light navbar-light bg-light rounded-lg px-5 d-flex">

            <button class="hamburguer navbar-toggler" type="button" data-toggle="collapse"
                data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false"
                aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>


            <a class="logo navbar-brand mx-auto" routerLink='/home'></a>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <div class=" w-100 d-flex  justify-content-center">
                    <div class="navbar-nav d-flex w-75 justify-content-around align-items-center">
                        <a class="list outnone nav-link p-3 text-uppercase" routerLink='/home'>Home</a>

                        <a class="list outnone nav-link p-3 text-uppercase" routerLink='/produto'>Produtos</a>

                        <a class="list outnone nav-link p-3 text-uppercase" routerLink='/contato'>Contato</a>
                    </div>
                </div>
            </div>

            <div class="mx-auto mb-2">
                <button class="btn-sustenta m-1 " type="button"> Logar </button>
                <button class="btn-sustenta m-1 " type="button" routerLink='/cadastro'> Cadastrar </button>
            </div>

        </nav>

    </div>
</header>

<!-- 
<div class="collapse navbar-collapse " id="conteudoNavbarSuportado">

    <div class="form-menu form-inline justify-content-center align-items-center my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
        <button class="btn-sustenta p-0" type="button">
            <div class="mx-1 lupa"></div>
        </button>
    </div>

</div> -->