.menu{
    background-color: #8BBA34;    
    box-shadow: 0 0 10px 0 #000000; 
}

.hamburguer{
    border: none;
    outline: none; 	   
}


.logo{
    background-image: url("../../assets/logos/logo_aberto_preto.png");
    opacity: 0.7;

    min-height: 67px;
    min-width: 200px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo:hover{
    background-image: url("../../assets/logos/logo_aberto_verde.png");

    min-height: 67px;
    min-width: 200px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list{
    font-size: 20px;
}

/*.form-menu {
    width: 100%;
}

.form-menu > input {
    width: 80%;
}

.lupa{
    background-image: url("../../assets/logos/lupa_preta.png");

    min-height: 33px;
    min-width: 33px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lupa:hover{
    background-image: url("../../assets/logos/lupa_preta.png");

    min-height: 33px;
    min-width: 33px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */