.linha1{
    background-color: #8BBA34; 
    box-shadow: 0px 0px 2px 3px #666666;    
}

.linha2{
    background-color:  #8BBA34;      
}
.linha3{
    background-color: #658726;
}



.logo{    
    background-image: url("../../assets/logos/logo_aberto_preto.png");

    min-height: 60px;
    min-width: 150px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo:hover{
    background-image: url("../../assets/logos/logo_aberto_branco.png");

    min-height: 60px;
    min-width: 150px;   
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}