<header class="container-fluid p-0 my-0">

    <nav
        class="footer py-0 px-5 my-0 container-fluid navbar navbar-expand-lg navbar-dark d-flex justify-content-around ">

        <a class="logo navbar-brand " routerLink='/home'></a>

        <div class="footer-copyright text-center py-3">
            <span class="text-light"> © 2020 Copyright: </span>
            <a class="text-light" href="https://brasil.generation.org">brasil.generation.org</a>
        </div>

        <ul id="ul-menu " class="navbar-nav">
            <small class="d-flex flex-row">
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/home'>Home</a>
                </li>
                <!-- <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/home'>Produtos</a>
                </li> -->
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/contato'>Contato</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/faq'>FAQ</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/politica'>Política de Troca e Devolução</a>
                </li>
            </small>
        </ul>

    </nav>
</header>