<footer class="container-fluid p-0 mt-1 mx-0">

    <div class=" linha1 w-100 mx-0 p-0 d-flex justify-content-between align-items-center flex-row">

        <a class="my-auto logo navbar-brand mx-auto" routerLink='/home'></a>

        <ul class="navbar-nav linha3 w-75 p-3 rounded-left d-flex justify-content-center ">
            <small class="d-flex justify-content-around d-flex flex-row">
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/home'>Home</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/home'>Produtos</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/contato'>Contato</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/faq'>FAQ</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/politica'>Política de Troca e Devolução</a>
                </li>
            </small>
        </ul>
    </div>

    <div class="linha2 w-100 row justify-content-md-center mx-0 p-1">
        <div class="col-12 footer-copyright text-center py-2 ">
            <span class="text-dark"> © 2020 Copyright - </span>
            <a class="text-dark" href="https://brasil.generation.org">brasil.generation.org</a>
        </div>
    </div>

    <!-- <nav
        class="footer py-0 px-5 my-0 container-fluid navbar navbar-expand-lg navbar-dark d-flex justify-content-around ">

        <a class="logo navbar-brand " routerLink='/home'></a>      

        <ul class="navbar-nav">
            <small class="d-flex flex-row">
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/home'>Home</a>
                </li>
                 <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/home'>Produtos</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/contato'>Contato</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/faq'>FAQ</a>
                </li>
                <li class="nav-item outnone m-1">
                    <a class="nav-link text-light " routerLink='/politica'>Política de Troca e Devolução</a>
                </li>
            </small>
        </ul>

    </nav> -->
</footer>