<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatot</title>
</head>

<body>
    <section  class="contato">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <h2 class="list-group-item">Contato</h2>
                    <li class="list-group-item">sustentamais@email.com.br</li>
                    <li class="list-group-item">(11) 5555-5555</li>
                    <li class="list-group-item">(11) 95555-5555</li>
                    <li class="list-group-item">@sustentamais</li>
                    <li class="list-group-item">Sustenta Mais</li>
                </ul>
                <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal"
                    data-target="#modal-contato">Fale Conosco</button>
            </div>
        </div>



        <div class="row d-flex justify-content-between">
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <h2 class="list-group-item">Endereço</h2>
                    <li class="list-group-item">Rua Tito, Nº 56, Lapa</li>

                    <iframe class="list-group-item"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2175.139281633012!2d-46.69323623384145!3d-23.52769499322497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8775663b04f%3A0x923835e9005f8309!2sSenac%20Lapa%20Tito!5e0!3m2!1spt-BR!2sbr!4v1583944507549!5m2!1spt-BR!2sbr"
                        width="500" height="350" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>